@config "../tailwind.config.js";
@import "tailwindcss";
@plugin "daisyui";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
}
